body{
    background-color: black;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center{
    text-align: center;
}

.detailsdiv{
    padding: 25% 0;
}

h1{
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 54px;
    text-align: center;
}

label{
    color: white;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 45px;
}

input[type=text]{
    background-color: white;
    border: 2px #0fa3b1;
    width: 50%;
    padding: 10px;
}

input[type=password]{
    background-color: white;
    border: 2px #0fa3b1;
    width: 50%;
    padding: 10px;
}

.submitbtn{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 24px;
    background-color: #0fa3b1;
    border-radius: 12px;
    color: white;
}

img{
    max-width: 100%;
    height: 100%;
}

.loginpic{
    text-align: center;
}