p {
    font-size: 24px;
    font-family: sans-serif;
}

.quizpage {
    position: fixed;
    top: 10%;
}

.anscho {
    width: 200px;
    height: 100px;
}

.queslabel {
    position: fixed;
    height: 7%;
    width: 70%;
    left: 16%;
    border: 2px solid;
    border-radius: 12px;
    font-weight: bold;
    background-color: #0fa3b1;
    text-align: center;
    font-size: 45px;
}

.grid-container {
    position: fixed;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: S;
    grid-auto-columns: S;
    gap: 20px;   
    align-items: center;
    justify-items: center;
}

.nextbtn {
    position: fixed;
    top: 82%;
    left: 42.5%;
    height: 6%;
    width: 15%;
}

.backbtn {
    position: fixed;
    top: 88%;
    left: 71%;
    height: 9%;
    width: 15%;
}