p {
    font-size: 24px;
    font-family: sans-serif;
}

#queslabel {
    border: 2px solid;
    border-radius: 12px;
    font-weight: bold;
    background-color: #0fa3b1;
    text-align: center;
}

#queslabel {
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    grid-auto-rows: S;
    grid-auto-columns: S;
    gap: 20px;
}

