{% extends 'base.html' %}

{% block head %}
<link href="static/css/wordmatchpg.css" rel="stylesheet">
<title>Wordmatch Game</title>
{% endblock %}

{% block body %}

<div id="startpg" class="startpg">
    <h1 style="text-align: center;">Wordmatch</h1>
    <div>
        <p>
            You will be shown a series of questions asking about the french translation for english phrases. If you get
            the answer right, your answer will change to green. If you get it wrong, it will change to red. Try your
            best!
        </p>
    </div>
    <div>
        <button id='startbtn'>Start Quiz</button>
    </div>
    <div>
        <button type="button" class="loginbtn" onclick="window.location.href='/wordmatchmenu'">Back to Wordmatch
            Menu</button>
    </div>
</div>
<div id='quizpage' class="quizpage">

    <p id='queslabel' class="queslabel">Question</p>

    <div class='grid-container'>
        <div class='grid-item'>
            <button class="anscho" id='button1'>Answer 1</button>
        </div>
        <div class='grid-item'>
            <button class="anscho" id='button2'>Answer 2</button>
        </div>
        <div class='grid-item'>
            <button class="anscho" id='button3'>Answer 3</button>
        </div>
        <div class='grid-item'>
            <button class="anscho" id='button4'>Answer 4</button>
        </div>
    </div>
    <button class="nextbtn" id='nextbtn'>Next Question</button>
    <button type="button" class="backbtn" onclick="window.location.href='/wordmatchmenu'">Back to Wordmatch
        Menu</button>
    
</div>
<div id='scorepage'>
    <h1 style="text-align: center;">Your score:</h1>
    <h2 style="text-align: center" id='score'>Score</h2>
    <h3 style="text-align: center" id='message'>Message</h3>
    <div>
        <button type="button" class="backbtn" onclick="window.location.href='/wordmatchmenu'">Back to Wordmatch
            Menu</button>
    </div>
</div>
<script type='module' src="..\static\js\animals1wm.mjs"></script>
{% endblock %}