{% extends 'base.html' %}

{% block head %}
<title>Mon Francais</title>
<link href="static/css/booksmenu.css" rel="stylesheet">
{% endblock %}

{% block body %}
<style>
    .container {
        position: relative;
    }

    .center {
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<br>
<h1 style="text-align: center;">Books Menu</h1>
<hr>
<br>
<br>
<div class="grid-container">
    <div class="grid-item center">
        <button type="button" class="btn"
            onclick="window.open('https://www.profartspla.info/images/tintin.pdf', '_blank')">Book 1 - Adventures of
            Tintin</button>
    </div>
    <br>
    <div class="grid-item center">
        <button type="button" class="btn">Go to Book 2</button>
    </div>
    <br>
    <div class="grid-item center">
        <button type="button" class="btn">Go to Book 3</button>
    </div>
    <br>
    <br>
    <br>
    <div class="grid-item center">
        <hr>
        <br>
        <button type="button" class="btn loginbtn" onclick="window.location.href='/mainmenu'">Back to Main Menu</button>
    </div>
    <br>
</div>
{% endblock %}