{% extends 'base.html' %}

{% block head %}
<title>Basic Conversation</title>
<link href="static/css/vocabstuff.css" rel="stylesheet">

{% endblock %}

{% block body %}
<div>
    <br>
    <h1 style="text-align: center">Colours</h1>
    <hr>
    <div>
        <h3 style="text-align: center;">Common Colours</h3>
        <hr>
        <br>
        <div>
            <label for="bonjourpronounciation" style='display:inline'>Rouge = Red</label>
            <button style='float:right; display: inline;'>Hear Pronounciation</button>
        </div>
        <br>
        <div>
            <label style='display:inline'>Bleu = Blue</label>
            <button style='float:right' class="btn">Hear Pronounciation</button>
        </div>
        <br>
        <div>
            <label style='display:inline'>Vert = Green</label>
            <button style='float:right' class="btn">Hear Pronounciation</button>
        </div>
        <br>
        <div>
            <label style='display:inline'>Jaune = Yellow</label>
            <button style='float:right' class="btn">Hear Pronounciation</button>
        </div>
        <br>
        <div>
            <label style='display:inline'>Blanc = White</label>
            <button style='float:right' class="btn">Hear Pronounciation</button>
        </div>
        <br>
        <div>
            <label style='display:inline'>Noir = Black</label>
            <button style='float:right' class="btn">Hear Pronounciation</button>
        </div>
        <br>
        <div>
            <label style='display:inline'>Gris = Grey</label>
            <button style='float:right' class="btn">Hear Pronounciation</button>
        </div>
        <br>
        <div>
            <label style='display:inline'>Orange = Orange</label>
            <button style='float:right' class="btn">Hear Pronounciation</button>
        </div>
        <br>
        <div>
            <label style='display:inline'>Marron = Brown</label>
            <button style='float:right' class="btn">Hear Pronounciation</button>
        </div>
        <br>
    </div>
        <br>
        <hr>
        <button type="button" class="btn loginbtn" onclick="window.location.href='/vocabmenu'">Back to Vocab Menu</button>
        <hr>
    </div>
</div>
{% endblock %}