{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/mainmenu.css">
{% endblock %}

{% block body %}
<div class="mmcont">
    <title>Main Menu</title>
    <br>
    <h1>Main Menu</h1>
    <br>

    <div class="menustyle">
        <h2>Translate</h2>
        <button type="button" onclick="window.location.href='/translation'">Go to Translator</button>

        <h2>Vocabulary</h2>
        <button type="button" onclick="window.location.href='/vocabmenu'">Go to Vocabulary</button>

        <h2>Wordmatch</h2>
        <button type="button" onclick="window.location.href='/wordmatchmenu'">Go to
            Wordmatch</button>

        <h2>Picture Guess</h2>
        <button type="button" onclick="window.location.href='/picguess'">Go to Picture Guess</button>

        <h2>Books</h2>
        <button type="button" onclick="window.location.href='/booksmenu'">Go to Books</button>
    </div>


    <br>
    <br>
    <button class="ctr" type="button" onclick="window.location.href='/logout'">Logout</button>
    <br>
    <br>

</div>
{% endblock %}