{% extends 'base.html' %}

{% block head %}
<title>Main Menu</title>
<link rel="stylesheet" href="../static/css/mainmenu.css">
{% endblock %}

{% block body %}
<br>
<h1>Main Menu</h1>
<br>
<div class="menustyle">
    <div class="container">
        <h2 class="center">Translate</h2>
    </div>
    <br>
    <div class="container">
        <button class="btn center" type="button" onclick="window.location.href='/translation'">Go to Translator</button>
    </div>
    <br>

    <div class="container">
        <h2 class="center">Vocabulary</h2>
    </div>
    <br>
    <div class="container">
        <button class="btn center" type="button" onclick="window.location.href='/vocabmenu'">Go to Vocabulary</button>
    </div>
    <br>

    <div class="container">
        <h2 class="center">Wordmatch</h2>
    </div>
    <br>
    <div class="container">
        <button class="btn center" type="button" onclick="window.location.href='/wordmatchmenu'">Go to
            Wordmatch</button>
    </div>
    <br>

    <div class="container">
        <h2 class="center">Picture Guess</h2>
    </div>
    <br>
    <div class="container">
        <button class="btn center" type="button" onclick="window.location.href='/picguess'">Go to Picture Guess</button>
    </div>
    <br>

    <div class="container">
        <h2 class="center">Books</h2>
    </div>
    <br>
    <div class="container">
        <button class="btn center" type="button" onclick="window.location.href='/booksmenu'">Go to Books</button>
    </div>
    <br>
    <br>

    <hr>
    <button class="btn" type="button" onclick="window.location.href='/logout'">Logout</button>
    <hr>
</div>
{% endblock %}