{% extends 'base.html' %}

{% block head %}
<title>Vocab Menu</title>
{% endblock %}

{% block body %}
<style>

.container{
    height: 50px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>
<br>
<h1 style="text-align: center;">Vocabulary Menu</h1>
<hr>
<br>
<div class="container">
    <div class="center">
        <button type="button" class="btn loginbtn" onclick="window.location.href='/bconv'">Topic: Basic Conversation</button>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="center">
        <button type="button" class="btn loginbtn" onclick="window.location.href='/animalsvoc'">Topic: Animals</button>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="center">
        <button type="button" class="btn loginbtn" onclick="window.location.href='/coloursvoc'">Topic: Colours</button>
    </div>
</div>
<br>
<br>
<br>
<button type="button" class="btn loginbtn" onclick="window.location.href='/mainmenu'">Back to Main Menu</button>
{% endblock %}