{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/mainmenu.css">
{% endblock %}

{% block body %}
<div class="mmcont">
    <title>Main Menu</title>
    <br>
    <h1>Main Menu</h1>
    <br>

    <div class="menustyle">
        
        <button class='slcfe' type="button" onclick="window.location.href='/translation'">Translator</button>

        <button class='slcfe' type="button" onclick="window.location.href='/vocabmenu'">Vocabulary</button>

        <button class='slcfe' type="button" onclick="window.location.href='/wordmatchmenu'">Quizzes</button>

        <button class='slcfe' type="button" onclick="window.location.href='/picguess'">Picture Guess</button>

        <button class='slcfe' type="button" onclick="window.location.href='/booksmenu'">Books</button>
    </div>


    <br>
    <br>
    <button class="ctr" type="button" onclick="window.location.href='/logout'">Logout</button>
    <br>
    <br>

</div>
{% endblock %}